services:
  db:
    image: pgvector/pgvector:pg16
    ports:
      - "5434:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=tuavocadonet
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
